.sidebar-menu-item {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.sidebar-menu-item a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.sidebar-menu-item a .item-content {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    transform: var(--transition);
}

.sidebar-menu-item a:hover {
    background: #325ba8;
    color: #ffffff;
}

.sidebar-menu-item a:hover + .tooltip {
    display: inline-block;
    animation: toolAnimation 0.5s ease normal;
}

.sidebar-menu-item .tooltip {
    position: absolute;
    background: #222222;
    left: 70px;
    padding: 10px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
}

.sidebar-menu-item a .item-content.collapsed {
    width: 35px;
}

.sidebar-menu-item a .item-content .icon {
    width: 32px;
    height: 32px;
}

.sidebar-menu-item a .item-content .label {
    font-weight: 500;
    margin-left: 10px;
    overflow: hidden;
}

@keyframes toolAnimation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
